body{
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
p{
  color: red;
}
form{
  border: 3px solid beige;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px beige, -1px -1px 1px beige; 
}
.gauche-droite{
  display: flex;
  gap: 40px;
  margin: 5px;
  padding: 10px;
}
.gauche{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.droite{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input{
  background-color: beige;
  border: 1px solid beige;
  width: 200px;
  height: 20px;
  margin-top: 5px;
  border-radius: 5px;
}
.input:hover{
  border: 1px solid orange;
}
.mid-12{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 1px;
  padding: 15px;
  gap: 10px;
 
}
.put{
  width: 444px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: beige;
  border: 1px solid beige;
  margin-bottom: 10px;
  height: 20px;
}
.label{
  font-weight: bold;
  font-size: 13px;
}
.put:hover{
  border: 1px solid orange;
}
.give:hover{
  border: 1px solid orange;
}
.give{
  width: 444px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: beige;
  border: 1px solid beige;
}
.bas{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.bas1{
  height: 20px;
  width: 90px;
  border-radius: 5px;
  background-color: beige;
  border: 1px solid beige;
}
.bas2{
  height: 20px;
  width: 250px;
  border-radius: 5px;
  background-color: beige;
  border: 1px solid beige;
}
.button{
  background-color: red;
  color: white;
  height: 25px;
  width: 90px;
  border: 1px solid red;
  border-radius: 5px;
  position: relative;
  font-size: 10px;
}
a{
  position: absolute;
  left: 884px;
  top: 91%;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.code{
  color: black;
  position: absolute;
  left: 484px;
  top: 89%;
  font-size: 14px;
}
.bas1:hover{
  border: 1px solid orange;
}
.bas2:hover{
  border: 1px solid orange;
}
